@font-face{font-family:"SegoeUINormal", sans-serif;
  src:url("segeo-ui/segeo-ui/segoe-ui-webfont.eot")}
@font-face{font-family:"SegoeUINormal", sans-serif;
  src:url(//:) format("no404"), url("segeo-ui/segeo-ui/segoe-ui-webfont.woff") format("woff"), url("segeo-ui/segeo-ui/segoe-ui-webfont.ttf") format("truetype"), url("segeo-ui/segeo-ui/segoe-ui-webfont.svgz#SegoeUINormal") format("svg"), url("segeo-ui/segeo-ui/segoe-ui-webfont.svg#SegoeUINormal") format("svg");
font-weight:400; font-style:normal}
@font-face{font-family:"SegoeUINormal", sans-serif;
  src:url("segeo-ui/segeo-ui-semibold/segeo-ui-semibold-webfont.eot")}
@font-face{font-family:"SegoeUINormal", sans-serif;
  src:url(//:) format("no404"), url("segeo-ui/segeo-ui-semibold/segeo-ui-semibold-webfont.woff") format("woff"), url("segeo-ui/segeo-ui-semibold/segeo-ui-semibold-webfont.ttf") format("truetype"), url("segeo-ui/segeo-ui-semibold/segeo-ui-semibold-webfont.svgz#SegoeUISemibold") format("svg"), url("segeo-ui/segeo-ui-semibold/segeo-ui-semibold-webfont.svg#SegoeUISemibold") format("svg");
font-weight:700; font-style:normal}
@font-face{font-family:"SegoeUINormal", sans-serif;
  src:url("segeo-ui/segeo-ui-light/segeo-ui-light-webfont.eot")}
@font-face{font-family:"SegoeUINormal", sans-serif;
  src:url(//:) format("no404"), url("segeo-ui/segeo-ui-light/segeo-ui-light-webfont.woff") format("woff"), url("segeo-ui/segeo-ui-light/segeo-ui-light-webfont.ttf") format("truetype"), url("segeo-ui/segeo-ui-light/segeo-ui-light-webfont.svgz#SegoeUILight") format("svg"), url("segeo-ui/segeo-ui-light/segeo-ui-light-webfont.svg#SegoeUILight") format("svg");
font-weight:200; font-style:normal}

html,body,header,section,footer,div,figure,figcaption,img,h1,h2,h3,h4,h5,h6,a,i{}
*{margin:0; padding:0; border:none}
html,body{}
body{font-family:"SegoeUINormal", sans-serif; font-weight:200; font-size:110%;}

header{background-color:#5b1c74; height:100px; width:100%; margin-bottom:5em; position:fixed; top:0; right:0}
.headertoc{}

section{padding-left:2em; padding-right:2em; background-color:#fff}

figure{text-align:center; margin-top:.15em; margin-bottom:.5em}
.figimg{display:block; margin-left:auto; margin-right:auto}
figcaption{text-align:center; font-size:1.75em; font-style:italic; letter-spacing:-1px; padding-top:.5em; padding-bottom:.2em}
img{}

.imginline{}
.icon{}

.logo{display:block; margin-bottom:2.5em}
.branding{float:right}
    
h1{color:#442359; font-weight:700; font-size:3.5em; margin-top:3.5em; margin-bottom:1.5em}
.header2{font-family:"SegoeUINormal", sans-serif; font-style:italic; font-weight:700; color:#921c74; font-size:2.15em}
.header2index{margin-bottom:4em}
h3{margin-bottom:1em; margin-top:1em}
.header3{font-size:2.8em; font-weight:300; font-family:"SegoeUINormal", sans-serif; color:#5b1c74}
.tableheader{font-size:2.8em}
.italic{font-style:italic}


p{font-family:"SegoeUINormal", sans-serif; font-size:2.2em; padding:.4em .6em; margin-bottom:.55em}
p a,p a:link{color:#0054a6;}

ul,ol{list-style-type:none}
.copyrightli{margin-bottom:.125em; padding-bottom:0; padding-top:0; margin-top:0}
p.copyright{font-size:1.5em}

.contentsection li{font-size:1.75em; color:#000; font-family:"SegoeUINormal", sans-serif; text-indent:.23em}
.toc-root li{}
.toc-root a{font-size:1.75em; color:#000; font-weight:700; font-family:"SegoeUINormal", sans-serif; text-indent:.23em}
.toc-root .toc-sub a{font-size:1.5em}
.toc-root .toc-sub-sub a{font-size:1em}

.toc-sub{margin-left:1em; margin-right:1em}
.toc-sub-sub{margin-left:2em; margin-right:2em}

.toc-sub{}

.toc-root li{margin-top:.4em; margin-bottom:.5em}
.toc-sub li{margin-bottom:.2em}
.toc-sub-sub li{margin-bottom:.1em}

.toc-sub a{}

.toc-sub-sub li{margin-bottom:.25em}



.note{margin:.3em .5em; background-color:#f0ddf7; border:1px solid #949494}
.note p,.note li{font-style:italic}
.note strong{font-style:normal}

footer{margin-top:5em; position:relative; height:100px; border-top:1px solid #000; width:90%; margin-left:9%;}
.pageno{background-color:#5b1c74; position:absolute; right:0; top:0; width:300px; display:block; text-align:center; text-decoration:none; line-height:100px; height:100%; color:#fff}



