@font-face{font-family:"SegoeUINormal", sans-serif;
  src:url("segeo-ui/segeo-ui/segoe-ui-webfont.eot")}
@font-face{font-family:"SegoeUINormal", sans-serif;
  src:url(//:) format("no404"), url("segeo-ui/segeo-ui/segoe-ui-webfont.woff") format("woff"), url("segeo-ui/segeo-ui/segoe-ui-webfont.ttf") format("truetype"), url("segeo-ui/segeo-ui/segoe-ui-webfont.svgz#SegoeUINormal") format("svg"), url("segeo-ui/segeo-ui/segoe-ui-webfont.svg#SegoeUINormal") format("svg");
font-weight:400; font-style:normal}
@font-face{font-family:"SegoeUINormal", sans-serif;
  src:url("segeo-ui/segeo-ui-semibold/segeo-ui-semibold-webfont.eot")}
@font-face{font-family:"SegoeUINormal", sans-serif;
  src:url(//:) format("no404"), url("segeo-ui/segeo-ui-semibold/segeo-ui-semibold-webfont.woff") format("woff"), url("segeo-ui/segeo-ui-semibold/segeo-ui-semibold-webfont.ttf") format("truetype"), url("segeo-ui/segeo-ui-semibold/segeo-ui-semibold-webfont.svgz#SegoeUISemibold") format("svg"), url("segeo-ui/segeo-ui-semibold/segeo-ui-semibold-webfont.svg#SegoeUISemibold") format("svg");
font-weight:700; font-style:normal}
@font-face{font-family:"SegoeUINormal", sans-serif;
  src:url("segeo-ui/segeo-ui-light/segeo-ui-light-webfont.eot")}
@font-face{font-family:"SegoeUINormal", sans-serif;
  src:url(//:) format("no404"), url("segeo-ui/segeo-ui-light/segeo-ui-light-webfont.woff") format("woff"), url("segeo-ui/segeo-ui-light/segeo-ui-light-webfont.ttf") format("truetype"), url("segeo-ui/segeo-ui-light/segeo-ui-light-webfont.svgz#SegoeUILight") format("svg"), url("segeo-ui/segeo-ui-light/segeo-ui-light-webfont.svg#SegoeUILight") format("svg");
font-weight:200; font-style:normal}

*{margin:0; padding:0; border:none}
body{font-family:"SegoeUINormal", sans-serif; font-weight:200; font-size:110%;}

.content{}

header{background-color:#5b1c74; height:100px; width:100%; margin-bottom:5em; position:fixed; top:0; right:0}
.headertoc{}

.main{clear:right; float:none}
article{width:90%; margin-right:auto; margin-left:auto}
section{padding-bottom:5em}
.section-doc{}

figure{text-align:center; margin-top:.15em; margin-bottom:.5em}
.figimg{display:block; margin-left:auto; margin-right:auto}
figcaption{text-align:center; font-size:1.75em; font-style:italic; letter-spacing:-1px; padding-top:.5em; padding-bottom:.2em}
li figcaption{font-size:1em}
img{}
table img{display:block; margin:0 auto}
table .imginline{display:inline}

.imginline{}
.icon{}

.logo{display:block; margin-bottom:2.5em}
.branding{float:right}
    
h1{color:#442359; font-weight:700; font-size:3.5em; margin-top:3.5em; margin-bottom:1.5em}
h2{margin-top:1em}
h2,h2 a{font-weight:700; color:#921c74}
h2 a{text-decoration:none}
h2{font-size:2.15em}
.header2{font-style:italic}
.header2index{margin-bottom:4em}
h3{margin-bottom:1em; margin-top:1em}
.header3{font-size:2.8em; font-weight:300; color:#5b1c74}
.tableheader{font-size:2.8em}
.italic{font-style:italic}


p{font-size:2em; padding:.4em 0; margin-bottom:.55em}
a,a:link{color:#0054a6;}

ul,ol{list-style-type:none}
.copyrightli{margin-bottom:.125em; padding-bottom:0; padding-top:0; margin-top:0}
p.copyright{font-size:1.5em}

.contentsection li,li{font-size:1.75em; color:#000; text-indent:.5em; margin-top:.5em; margin-bottom:.5em}
li li{font-size:1em; text-indent:1em; margin-top:.25em; margin-bottom:.25em}
li li li{font-size:1.25em}
.sectionindex li{font-size:inherit; text-indent:0}
.toc-root li{}
.toc-root a{font-size:1.75em; color:#000; font-weight:700; text-indent:.23em}
.toc-root .toc-sub a{font-size:1.5em}
.toc-root .toc-sub-sub a{font-size:1.25em; font-weight:200}

.toc-sub{margin-left:1em; margin-right:1em}
.toc-sub-sub{margin-left:2em; margin-right:2em}

.toc-sub{}

.toc-root li{margin-top:.4em; margin-bottom:.5em}
.toc-sub li{margin-bottom:.2em}
.toc-sub-sub li{margin-bottom:.1em}

.toc-sub a{}

.toc-sub-sub li{margin-bottom:.25em}

abbr{font-variant:small-caps}

.note{margin:.3em auto; width:90%; background-color:#f0ddf7; border:1px solid #949494; padding:1em}
.note p,.note li{font-style:italic}
.note p{margin:0; padding:0}
.note strong{font-style:normal}

li .note p{font-size:1em}

footer{position:relative; height:100px; border-top:1px solid #000; width:90%; margin-left:auto; margin-right:auto}
.pageno{background-color:#5b1c74; position:absolute; right:0; top:0; width:300px; display:block; text-align:center; text-decoration:none; line-height:100px; height:100%; color:#fff}

table{margin:2em auto; width:90%; border-collapse:collapse; border-spacing:0; -moz-box-shadow:0 0 4px #000; -ms-box-shadow:0 0 4px #000; -o-box-shadow:0 0 4px #000; -webkit-box-shadow:0 0 4px #000; box-shadow:0 0 4px #000}
table p{ margin:0; padding:.2em}
caption{font-size:1.5em; padding-top:.25em; padding-bottom:.25em}
thead{background-color:#5b1c74; border-top:1px solid #000; border-bottom:1px solid #000}
tbody{}
tbody tr{border-bottom:1px solid #000}
tr{}
th{color:#fff; font-weight:700; font-size:1.75em; padding-top:.5em; padding-bottom:.75em}
td,td p,td li{font-size:1.5em}
.smallertext td,.smallertext td p,.smallertext td li{font-size:1.1em}
.fixsmallertext td{font-size:1.1em}
.fixsmallertext td p{font-size:inherit}
.w30{width:30%}
